{% extends "collection/layout.html" %}

{% load i18n %}

{% block breadcrumbs %}
  <div class="breadcrumbs">
      <a href="{% url 'home' %}">Home</a>
      &rsaquo; <a href="{% url 'overview' %}">Overview</a>
      &rsaquo; {{object.identifier.value}}
  </div>
{% endblock %}

{% block content %}

<div class="container body-content">

  <h2>{{object.identifier.value}}</h2>

  {% if evaluate %}
  <div class="panel panel-default">
    <p>{{evaluate.status}}</p>
    {% if evaluate.eval_list|length > 0 %}
      <table>
        <thead><tr><th>Field</th><th>Error</th></tr></thead>
        <tbody>
          {% for eval_item in evaluate.eval_list %}
          <tr><td>{{eval_item.field}}</td><td style="width:100%;">{{eval_item.value}}</td></tr>
          {% endfor %}
        </tbody>
      </table>
    {% endif %}
  </div>
  {% endif %}

  <div class="panel panel-default">
    <!-- Description -->
    <div class="row">
      <div class="col-md-3">Description<span class="obl">0-1</span></div>
      <div class="col-md-9">
        <div class="panel panel-default">
          <div class="panel-heading collapsed information" data-toggle="collapse" data-target="#coll_descr">{{collection.description|truncatechars:40}}</div>
          <div id="coll_descr" class="collapse information" style="height: auto;">
            {{collection.description}}
          </div>
        </div>
      </div>
    </div>
    <!-- Show the main fields in the collection -->
    {% for main in coll_main %}
      {% include 'collection/coll_item.html' with item_info=main %}
    {% endfor %}

    <!-- Resources -->
    <div class="row">
      <div class="col-md-3">Resource(s)<span class="obl">1-n</span></div>
      <div class="col-md-9">
        {% if collection.collection12m_resource.all %}
          {% for res_item in coll_resources %}
          <div class="panel panel-default">
            <div class="panel-heading collapsed" data-toggle="collapse" data-target="#resource_{{forloop.counter}}">Resource {{forloop.counter}}</div>
            <div id="resource_{{forloop.counter}}" class="row collapse" style="height: auto;">
              <div class="col-md-12">

                  <!-- Description -->
                  <div class="row">
                    <div class="col-md-3">Description<span class="obl">0-1</span></div>
                    <div class="col-md-9">
                      <div class="panel panel-default">
                        <div class="panel-heading collapsed information" data-toggle="collapse" 
                             data-target="#resource_descr_{{res_item.resource.id}}">{{res_item.resource.description|truncatechars:40}}</div>
                        <div id="resource_descr_{{res_item.resource.id}}" class="collapse information" style="height: auto;">
                          {{res_item.resource.description}}
                        </div>
                      </div>
                    </div>
                  </div>

                  {% for res_info in res_item.info_list %}
                    {% include 'collection/coll_item.html' with item_info=res_info %}
                  {% endfor %}

              </div>
            </div>
          </div>
          {% endfor %}
        {% else %}
          <span>- <i>Resource must be added!</i></span>
        {% endif %}
      </div>
    </div>

    <!-- Provenance(s) -->
    <div class="row">
      <div class="col-md-3">Provenance(s)<span class="obl">0-n</span></div>
      <div class="col-md-9">
        {% for prov_this in coll_provenances %}
          <div class="panel panel-default">
            <div class="panel-heading collapsed" data-toggle="collapse" data-target="#provenance_{{forloop.counter}}">Provenance {{forloop.counter}}</div>
            <div id="provenance_{{forloop.counter}}" class="row collapse" style="height: auto;">
              <div class="col-md-12">

                  {% for item_info in prov_this.info_list %}
                    {% include 'collection/coll_item.html' with item_info=item_info %}
                  {% endfor %}

              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>

    <!-- Linguality -->
    <div class="row">
      <div class="col-md-3">Linguality<span class="obl">0-1</span></div>
      <div class="col-md-9">
        <div class="panel panel-default">
          <div class="panel-heading collapsed" data-toggle="collapse" data-target="#linguality">Linguality</div>
          <div id="linguality" class="row collapse" style="height: auto;">
            <div class="col-md-12">
              {% if coll_linguality|length == 0 %}
                <i>not specified</i>
              {% else %}
                {% for ling_this in coll_linguality %}
                  {% include 'collection/coll_item.html' with item_info=ling_this %}
                {% endfor %}
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Access -->
    <div class="row">
      <div class="col-md-3">Accessibility<span class="obl">0-1</span></div>
      <div class="col-md-9">
        <div class="panel panel-default">
          <div class="panel-heading collapsed" data-toggle="collapse" data-target="#accessibility">Accessibility</div>
          <div id="accessibility" class="row collapse" style="height: auto;">
            <div class="col-md-12">
              {% if coll_access|length == 0 %}
                <i>not specified</i>
              {% else %}
                {% for access_this in coll_access %}
                  {% include 'collection/coll_item.html' with item_info=access_this %}
                {% endfor %}
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Documentation -->
    <div class="row">
      <div class="col-md-3">Documentation<span class="obl">0-1</span></div>
      <div class="col-md-9">
        <div class="panel panel-default">
          <div class="panel-heading collapsed" data-toggle="collapse" data-target="#documentation">Documentation</div>
          <div id="documentation" class="row collapse" style="height: auto;">
            <div class="col-md-12">
              {% if coll_docu|length == 0 %}
                <i>not specified</i>
              {% else %}
                {% for docu_this in coll_docu %}
                  {% include 'collection/coll_item.html' with item_info=docu_this %}
                {% endfor %}
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Validation -->
    <div class="row">
      <div class="col-md-3">Validation<span class="obl">0-1</span></div>
      <div class="col-md-9">
        <div class="panel panel-default">
          <div class="panel-heading collapsed" data-toggle="collapse" data-target="#validation">Validation</div>
          <div id="validation" class="row collapse" style="height: auto;">
            <div class="col-md-12">
              {% if coll_vali|length == 0 %}
                <i>not specified</i>
              {% else %}
                {% for vali_this in coll_vali %}
                  {% include 'collection/coll_item.html' with item_info=vali_this %}
                {% endfor %}
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="row">&nbsp;</div>
  </div>

  <!-- Continue to edit for those who have permission -->
  <div class="row submit-row">
    <div class="col-md-2">
      <a href="{% url 'overview' %}" role="button"
         class="btn btn-default"><< Overview</a>
    </div>
  {% if authenticated %}
    <div class="col-md-2 pull-right">
      <a href="{% url 'admin:collection_collection_change' collection.id %}"
         role="button"       
         class="btn btn-primary">Edit</a>
    </div>
  {% else %}
    <div class="col-md-6 message">Editing is disabled, since you are not signed in</div>
  {% endif %}
  </div>
</div>
{% endblock %}
