{% extends "collection/layout.html" %}

{% load i18n %}

{% block breadcrumbs %}
  <div class="breadcrumbs">
      <a href="{% url 'home' %}">Home</a>
      &rsaquo; <a href="{% url 'overview' %}">Overview</a>
      &rsaquo; {{object.identifier.value}}
  </div>
{% endblock %}

{% block content %}

<div class="container body-content">

  <h2>{{object.identifier.value}}</h2>
  <div class="panel panel-default">
    <!-- Description -->
    <div class="row">
      <div class="col-md-3">Description<span class="obl">0-1</span></div>
      <div class="col-md-9">
        <div class="panel panel-default">
          <div class="panel-heading collapsed information" data-toggle="collapse" data-target="#coll_descr">{{collection.description|truncatechars:40}}</div>
          <div id="coll_descr" class="collapse information" style="height: auto;">
            {{collection.description}}
          </div>
        </div>
      </div>
    </div>

    <!-- Show the main fields in the collection -->
    {% for main in coll_main %}
      <div class="row">
        <div class="col-md-3">{{main.name}}<span class="obl">{{main.obl}}</span></div>
        <div class="col-md-9">
          {% if main.type == 'numbered' %}
            {% for item in main.value %}
            <div>
              {% if main.value|length > 1 %}<span style="font-size: x-small;">[{{forloop.counter}}]: </span>{% endif %}
              <span>{{item.get_view | safe}}</span>
            </div>
            {% endfor %}
          {% elif main.type == 'list' %}
            <div>
            {% for item in main.value %}
              <span class="closed-list">{{item.get_view | safe}}</span>
              {% if not forloop.last %}<span>, </span>{% endif %}
            {% endfor %}
            </div>
          {% elif main.type == 'code' %}
            {% if main.value == '' %}-{% else %}<code>{{main.value}}</code>{% endif %}
          {% else %}
            {% if main.value == '' %}-{% else %}{{main.value | safe}}{% endif %}
          {% endif %}
        </div>
      </div>
    {% endfor %}

    <!-- Resources -->
    <div class="row">
      <div class="col-md-3">Resource(s)<span class="obl">1-n</span></div>
      <div class="col-md-9">
        {% if collection.collection12m_resource.all %}
          {% for res_item in coll_resources %}
          <div class="panel panel-default">
            <div class="panel-heading collapsed" data-toggle="collapse" data-target="#resource_{{forloop.counter}}">Resource {{forloop.counter}}</div>
            <div id="resource_{{forloop.counter}}" class="row collapse" style="height: auto;">
              <div class="col-md-12">

                  <!-- Description -->
                  <div class="row">
                    <div class="col-md-3">Description<span class="obl">0-1</span></div>
                    <div class="col-md-9">
                      <div class="panel panel-default">
                        <div class="panel-heading collapsed information" data-toggle="collapse" 
                             data-target="#resource_descr_{{res_item.resource.id}}">{{res_item.resource.description|truncatechars:40}}</div>
                        <div id="resource_descr_{{res_item.resource.id}}" class="collapse information" style="height: auto;">
                          {{res_item.resource.description}}
                        </div>
                      </div>
                    </div>
                  </div>

                  {% for res_info in res_item.info_list %}
                    <div class="row">
                      <div class="col-md-3">{{res_info.name}}<span class="obl">{{res_info.obl}}</span></div>
                      <div class="col-md-9">
                        {% if res_info.type == 'numbered' %}
                          {% for item in res_info.value %}
                          <div>
                            {% if res_info.value|length > 1 %}<span style="font-size: x-small;">[{{forloop.counter}}]: </span>{% endif %}
                            <span>{{item.get_view}}</span>{% if not forloop.last %}, {% endif %}
                          </div>
                          {% endfor %}
                        {% elif res_info.type == 'list' %}
                          <div>
                          {% for item in res_info.value %}
                            <span class="closed-list">{{item.get_view}}</span>
                            {% if not forloop.last %}, {% endif %}
                          {% endfor %}
                          </div>
                        {% elif res_info.type == 'code' %}
                          {% if res_info.value == '' %}-{% else %}<code>{{res_info.value}}</code>{% endif %}
                        {% else %}
                          {% if res_info.value == '' %}-{% else %}{{res_info.value}}{% endif %}
                        {% endif %}
                      </div>
                    </div>
                  {% endfor %}

              </div>
            </div>
          </div>
          {% endfor %}
        {% else %}
          <span>- <i>Resource must be added!</i></span>
        {% endif %}
      </div>
    </div>

    <!-- Provenance(s) -->
    <div class="row">
      <div class="col-md-3">Provenance(s)<span class="obl">0-n</span></div>
      <div class="col-md-9">
        {% for prov_this in coll_provenances %}
          <div class="panel panel-default">
            <div class="panel-heading collapsed" data-toggle="collapse" data-target="#provenance_{{forloop.counter}}">Provenance {{forloop.counter}}</div>
            <div id="provenance_{{forloop.counter}}" class="row collapse" style="height: auto;">
              <div class="col-md-12">

                  {% for prov_info in prov_this %}
                    <div class="row">
                      <div class="col-md-3">{{prov_info.name}}<span class="obl">{{prov_info.obl}}</span></div>
                      <div class="col-md-9">
                        {% if prov_info.type == 'numbered' %}
                          {% for item in prov_info.value %}
                          <div>
                            <span>{{forloop.counter}}: </span>
                            <span>{{item.get_view}}</span>
                          </div>
                          {% endfor %}
                        {% elif prov_info.type == 'list' %}
                          <div>
                          {% for item in prov_info.value %}
                            <span><code>{{item.get_view}}</code></span>
                            {% if not forloop.last %}, {% endif %}
                          {% endfor %}
                          </div>
                        {% elif prov_info.type == 'code' %}
                          {% if prov_info.value == '' %}-{% else %}<code>{{prov_info.value}}</code>{% endif %}
                        {% else %}
                          {% if prov_info.value == '' %}-{% else %}{{prov_info.value}}{% endif %}
                        {% endif %}
                      </div>
                    </div>
                  {% endfor %}

              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>


    <div class="row">&nbsp;</div>
  </div>

  <!-- Continue to edit for those who have permission -->
  <div class="row submit-row">
    <div class="col-md-2">
      <a href="{% url 'overview' %}" role="button"
         class="btn btn-default"><< Overview</a>
    </div>
  {% if authenticated %}
    <div class="col-md-2 pull-right">
      <a href="{% url 'admin:collection_collection_change' collection.id %}"
         role="button"       
         class="btn btn-primary">Edit</a>
    </div>
  {% else %}
    <div class="col-md-6 message">Editing is disabled, since you are not signed in</div>
  {% endif %}
  </div>
</div>
{% endblock %}
