{% extends "layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>RU-CollBank</h1>
    <p class="lead">The Radboud University CollBank provides an interface to list, correct and add "Corpus Collections". 
    Each corpus collection is a bundle of resources.
    The description of a corpus collection is defined by the Clarin Component Registry.</p>
    <p><a href="https://catalog.clarin.eu/ds/ComponentRegistry" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Getting started</h2>
        <p>
            The RU-Collbank has been designed by the Technical Service Group of the Humanities Lab at the Radboud University Nijmegen.
          Once its contents have been entered, it will be open for any interested researcher.
          Those that have been asked to cooperate in adding content can request access.
        </p>
        <p><a class="btn btn-default" href="mailto:henk.vandenheuvel@ru.nl">Request access &raquo;</a></p>

      {% if is_app_moderator %}
        <h2>OAI status</h2>
        <p>{{oai_status}}</p>

        <div>
          <form>
            {% csrf_token %}
            <div class="hidden">
              <input name="command" value="reindexCollection" type="hidden">
              <input name="key" value="1650874903819" type="hidden">
              <input name="indexAll" value="false" type="hidden">
              <input name="displayName" value="CollBank" type="hidden">
              <input name="button" value="Reindex" type="hidden">
            </div>
            <span>If necessary: touch CMDI files and re-index the OAI interface. </span>
            <a role="button" class="btn btn-danger"
               resultid="#oai_result"
               targeturl="{% url 'reindex' %}"
               onclick="ru.collbank.do_reindex(this);">Re-index</a>
          </form>
        </div>
        <div id="oai_result" style="color: darkred; background-color: lightblue;"></div>
      {% endif %}

    </div>
    <div class="col-md-6">
        <h2>Define collections</h2>
        <p>Collections of corpora can be defined straight away by choosing <em>Collections</em> from the menu above.
           This brings up one of the "Collection Bank Admin" pages. The page provides an overview of all the collections that have been entered already.
           The "Add collection" button leads to a page where all the elements of a new collection can be defined.
           Each of the collection's components can be defined 'on-the-fly' from here.
        </p>
        <p>The <em>Definitions</em> option from the menu opens up a page where each of the components and sub-components of collections can be defined separately.
           This page can be used by those who are more interested in a bottom-up approach to entering the necessary data.
        </p>
        <p><a class="btn btn-default" href="mailto:erwin.komen@ru.nl">Request assistance &raquo;</a></p>

    </div>

</div>

{% endblock %}
