{% extends "collection/layout.html" %}

{% block content %}
      {% if publish %}
        <div>{{publish.status}}: 
          <span>{{publish.written}}</span>
          <span>{% if publish.written > 1%}records {% else %}record{% endif %}</span>
        </div>
      {% endif %}
      {% if not user.is_authenticated %}
      <div>Since you are not logged-in, you are only able to view the collections.</div>
      {% endif %}

      <h3>Available collections</h3>
      <div id="content-main">
        <ul class="object-tools">
          <li><a class="addlink" href="{% url 'add' %}">Add a collection record</a></li>
        </ul>
      </div>
    {% if overview_list %}
      <table class="table table-hover">
        <thead>
          <tr>
            {% for hd in order_heads %}
            <th class="sortable" scope="col">
              <div class="text">
                {% if hd.order == "" %}{{hd.name}}
                {% else %}
                <a href=?{{hd.order}}>{{hd.name}}</a>
                {% endif %}
              </div>
            </th>
            {% endfor %}
          </tr>
          <tr>
          </tr>
        </thead>
        <tbody>
        {% for coll in overview_list %}
          <tr>
            <td>{{coll.id}}</td>
            <td><a href="/{{app_prefix }}admin/collection/collection/{{coll.pk}}/change/">{{coll.identifier}}</a></td>
            <td>{{coll.description}}
              {% if user.is_authenticated %}
              <span class="coll-xml"><a class="btn btn-success btn-xs" href="/{{app_prefix }}output/{{coll.pk}}?submit_type=xml">xml</a></span>
            <!--
              <span class="coll-xml"><a class="btn btn-error btn-xs" href="/{{app_prefix }}collection/{{coll.pk}}?submit_type=edit">edit</a></span>
              -->
              <span class="coll-xml"><a class="btn btn-eror btn-xs" href="{% url 'copyadmin' %}?id={{coll.pk}}&model=collection&current=">copy</a></span>
              <span class="coll-xml"><a class="btn btn-warning btn-xs" href="{% url 'handle' pk=coll.pk %}" target='_blank'>handle</a></span>
              {% endif %}
            </td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    {% else %}
      <p>No collections are available.</p>
    {% endif %}
{% endblock %}
