<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'collection/content/bootstrap.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'collection/content/site.css' %}" />
    <script src="{% static 'collection/scripts/modernizr-2.6.2.js' %}"></script>
</head>

<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="{% url 'home' %}" class="navbar-brand">Collection Bank</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="{% url 'definitions' %}">Definitions</a></li>
                    <li><a href="{% url 'collections' %}">Edit collections</a></li>
                    <li><a href="{% url 'overview' %}">View collections</a></li>
                    <li><a href="{% url 'reload' %}">Reload definitions</a></li>
                    <li><a href="{% url 'home' %}">Home</a></li>
                    <li><a href="{% url 'about' %}">About</a></li>
                    <li><a href="{% url 'contact' %}">Contact</a></li>
                </ul>
                {% include 'collection/loginpartial.html' %}
            </div>
        </div>
    </div>
    <div class="container body-content">
    {% if overview_list %}
      <h3>Available collections</h3>
      <table class="table table-hover">
        <thead><tr><th>id</th><th>Identifier</th><th>Description</th></tr></thead>
        <tbody>
        {% for coll in overview_list %}
          <tr>
            <td> {{ coll.id }} </td>
            <td><a href="/{{app_prefix }}output/{{coll.pk}}">{{ coll.identifier}}</a></td>
            <td>{{coll.description}}</td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    {% else %}
      <p>No collections are available.</p>
    {% endif %}
    </div>
    <script src="{% static 'collection/scripts/jquery-1.10.2.js' %}"></script>
    <script src="{% static 'collection/scripts/bootstrap.min.js' %}"></script>
    <script src="{% static 'collection/scripts/respond.js' %}"></script>
{% block scripts %}{% endblock %}
</body>
</html>