<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'collection/content/bootstrap.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'collection/content/site.css' %}" />
    <script src="{% static 'collection/scripts/modernizr-2.6.2.js' %}"></script>
    <script src="{% static 'collection/scripts/jquery-1.10.2.js' %}"></script>
    <script src="{% static 'collection/scripts/bootstrap.min.js' %}"></script>
    <script src="{% static 'collection/scripts/respond.js' %}"></script>
</head>

<body>
    {% include 'collection/topnav.html' %}
    <div class="container body-content">
    {% if overview_list %}
      <h3>Available collections</h3>
      <table class="table table-hover">
        <thead>
          <tr>
            {% for hd in order_heads %}
            <th class="sortable" scope="col">
              <div class="text">
                {% if hd.order == "" %}{{hd.name}}
                {% else %}
                <a href=?{{hd.order}}>{{hd.name}}</a>
                {% endif %}
              </div>
            </th>
            {% endfor %}
          </tr>
          <tr>
          </tr>
        </thead>
        <tbody>
        {% for coll in overview_list %}
          <tr>
            <td>{{coll.id}}</td>
            <td><a href="/{{app_prefix }}admin/collection/collection/{{coll.pk}}/change/">{{coll.identifier}}</a></td>
            <td>{{coll.description}}
              <span class="coll-xml"><a class="btn btn-success btn-xs" href="/{{app_prefix }}output/{{coll.pk}}?submit_type=xml">xml</a></span>
              <span class="coll-xml"><a class="btn btn-error btn-xs" href="/{{app_prefix }}collection/{{coll.pk}}?submit_type=">edit</a></span>
            </td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    {% else %}
      <p>No collections are available.</p>
    {% endif %}
    </div>
{% block scripts %}{% endblock %}
</body>
</html>