<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'collection/content/bootstrap.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'collection/content/site.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'collection/content/ru-base.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'collection/content/ru-form.css' %}" />
    <script src="{% static 'collection/scripts/modernizr-2.6.2.js' %}"></script>
    <script src="{% static 'collection/scripts/jquery-1.10.2.js' %}"></script>
    <script src="{% static 'collection/scripts/bootstrap.js' %}"></script>
    <script src="{% static 'collection/scripts/respond.js' %}"></script>
    <script src="{% static 'collection/scripts/collbank.js' %}"></script>
{% block scripts %}{% endblock %}
</head>

<body>
{% include 'collection/topnav.html' %}

{% block breadcrumbs %}{% endblock %}

    <div class="container body-content">
{% block content %}{% endblock %}
        <hr/>
    </div>
    <div>
        <footer>
            <span>Collection Bank v1.1 &copy; 2016-{% now "Y" %}</span>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <span>Developed at: <a href="http://cls.ru.nl">Radboud University Nijmegen</a></span>
        </footer>
    </div>

</body>
</html>
